<!DOCTYPE html>
<html>
  <head>
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <link href="static/style.css" type="text/css" rel="stylesheet">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript">
$(function() {
    $('#return_all').click(function() {
    $.ajax({
            type: "GET",
            url: "/handler/",
            data: { word: '.*' },
            dataType: "json",
            success: function(data) {
                $("#lemmas").html(data.entries);
                showEntry();
                }
      });
      });
      });

    function showEntry() {
      $('a#lemma').click(function() {
        $.getJSON('/_get_entry', {
          lemma: $( this ).text()
        }, function(data) {
          $("#entry").html(data.entryHtml);
        });
        return false;
      });
    }
 $(function() {showEntry();});

    $(function() {
    $("#submit_button").click(function() {
         $.ajax({
            type: "GET",
            url: "/handler/",
            data: { word: $('input[id="dict_search"]').val() },
            dataType: "json",
            success: function(data) {
             $("#button").html(data.divButton);
                if (data.entryAmount == 1) {
                $("#lemmas").html(data.entries);
                $("#entry").html(data.entryHtml);
                showEntry();
                }
                else {
                $("#lemmas").html(data.entries);
                showEntry();
                //alert(data.entries);
                }
            }
		});
		event.preventDefault();
	});
});


  </script>
  </head>
  <body>
    <!-- <div id="container"> -->
      <div id="header">
        <h3 align="center">Бесермянский словарь</h3>
      </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" align="center">
        <form id="search_main">
          <div class="input-group">
            <input type="search" class="form-control" id="dict_search" placeholder="Введите слово">
            <span class="input-group-btn">
                <button class="btn btn-default" id="submit_button" type="submit">Искать</button>
                <button class="btn btn-default" id="reset_button" type="button">Очистить</button>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            </span>
          </div>
          </form>
      </div>
        <div class="col-sm-4">
        </div>
      </div>
    <br>
      <hr/>
    <div id="button">
    </div>
      <div id="lemmas">
        {% for lemma in lemmas %}
          <p><a href="javascript:void();" id="lemma">{{ lemma }}</a></p>
        {% endfor %}
      </div>


      <div id="entry">
        <!-- <span id="result">...</span> -->...
      </div>
    <!-- </div> -->
  <div id="test"></div>
  </body>
</html>